{% extends 'base.html.twig' %}

{% block title %}Symfony-Pagination{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des Articles</h1>
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item">
                <h2>{{ article.title }}</h2>
                <p>{{ article.text }}</p>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="container mt-4">
    {{ knp_pagination_render(articles, 'pagination/custom_pagination.html.twig') }}
</div>
{% endblock %}
